<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home</title>
</head>
<body>
  <header>
    <h1>WELCOME TO HOME REGISTERING PAGE OF AIRBNB </h1>
  </header>
  <main>
    <h3>Register your home here: </h3>
    <form action="/host/add-home" method="post">
      <input type="text" id="name" name="House_Name" placeholder="Enter the name of your house">
      <button type=" submit"> SUBMIT </button>
    </form>
  </main>
  
</body>
</html>